@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}


html,body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body{
    background: url('../assets/imagens/fundo-madeira.jpg') center center/ cover no-repeat fixed;
}

main{
    position: relative;
    
    height: 100vh;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 311px;
    height: 627px;
    transform: translate(-50%,-50%);
    background: url('../assets/imagens/frame-iphone.png') center left/ cover no-repeat scroll;
    
}

iframe#tela{
   position: relative;
   top: 79px;
   left: 21px;
   width: 269px;
   height: 473px;
   
}

section#redes-sociais{
    text-align: right;
    display: list-item;
    
}

section#redes-sociais img{
    width: 50px;
    border-radius: 30%;
    margin: 25px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
}

section#redes-sociais img:hover{
    border: 2px solid white;
    transform: translate(-5%, -5%);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.616);
    transition: transform 0.5s, border 0.2s;
}

